# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.class

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

1071-Number_Spiral/Makefile
1082-Sum_of_Divisors/Makefile
1084-Apartments/Makefile
1091-Concert_Tickets/Makefile
1131-Tree_Diameter/Makefile
1132-Tree_Distances_I/Makefile
1140-Projects/Makefile
1158-Bookshop/Makefile
1190-Subarray_Sum_Queries/Makefile
1192-Counting_Rooms/Makefile
1195-Flight_Discount/Makefile
1197-Cycle_Finding/Makefile
1619-Restaurant_Customers/Makefile
1621-Distinct_Numbers/Makefile
1628-Meet_in_the_Middle/Makefile
1632-Movie_Festival_II/Makefile
1634-Minimizing_Coins/Makefile
1635-Coin_Combinations_I/Makefile
1636-Coin_Combinations_II/Makefile
1639-Edit_Distance/Makefile
1640-Sum_of_Two_Values/Makefile
1642-Sum_of_Four_Values/Makefile
1643-Maximum_Subarray_Sum/Makefile
1666-Building_Roads/Makefile
1667-Message_Route/Makefile
1668-Building_Teams/Makefile
1669-Round_Trip/Makefile
1671-Shortest_Routes_I/Makefile
1672-Shortest_Routes_II/Makefile
1674-Subordinates/Makefile
2166-Prefix_Sum_Queries/Makefile
2185-Prime_Multiples/Makefile
log/myLog.txt
1071-Number_Spiral/faztudo.sh
1082-Sum_of_Divisors/faztudo.sh
1084-Apartments/faztudo.sh
1140-Projects/faztudo.sh
1158-Bookshop/faztudo.sh
1621-Distinct_Numbers/faztudo.sh
1632-Movie_Festival_II/faztudo.sh
1634-Minimizing_Coins/faztudo.sh
1635-Coin_Combinations_I/faztudo.sh
1636-Coin_Combinations_II/faztudo.sh
1639-Edit_Distance/faztudo.sh
1640-Sum_of_Two_Values/faztudo.sh
1642-Sum_of_Four_Values/faztudo.sh
1643-Maximum_Subarray_Sum/faztudo.sh
2185-Prime_Multiples/faztudo.sh
Experiments.txt
ToProcess.txt
/results/elite/rapl/analysis_results
/results/think/rapl/analysis_results
/results/think/perf/analysis_results
/results/elite/perf/analysis_results
